[DEFAULT]
## SelectDwiFiles
dwi_template: sub-*/ses-*/dwi/*_dwi.nii.gz


## StructMask
mabs_mask_nproc: 8
fusion:
reg_method: rigid


## StructMask, PnlEddy, PnlEddyEpi, Fs2Dwi
debug: False


## StructMask, BseBetmask
slicer_exec:
mask_qc: False


## BseExtract
which_bse:
b0_threshold: 50


## BseBetMask
bet_threshold: 0.25


## [CnnMask] ##
model_folder: /data/pnl/soft/pnlpipe3/CNN-Diffusion-MRIBrain-Segmentation/model_folder
percentile: 97
filter:


## PnlEddy
eddy_nproc: 8


## PnlEddyEpi
epi_nproc: 8


## FslEddy,FslEddyEpi, TopupEddy
acqp: /data/pnl/U01_HCP_Psychosis/data_processing/scripts/acqp.txt
index: 
config: /data/pnl/U01_HCP_Psychosis/data_processing/scripts/eddy_config.txt
useGpu: False


## Ukf
ukf_params: --seedingThreshold,0.4,--seedsPerVoxel,1


## Freesurfer
t1_csvFile:
t1_ref_img: *_desc-Xc_T2w.nii.gz
t1_ref_mask: *_desc-T2wXcMabsQc_mask.nii.gz
t1_mask_qc: False

t2_csvFile: /data/pnl/U01_HCP_Psychosis/data_processing/TrainingMaskData/trainingDataT2Masks-hdr.csv
t2_ref_img:
t2_ref_mask:
t2_mask_qc: True

freesurfer_nproc: 4
expert_file:
no_hires: False
no_skullstrip: True
subfields: True
fs_dirname: freesurfer


## Fs2Dwi
mode: direct


## Wmql
query:
wmql_nproc: 8


## TopupEddy
numb0: 1
whichVol: 1
scale: 2


## GibbsUn
unring_nproc: 8


## EddyEpi
eddy_task: FslEddy


## UKf
eddy_epi_task: EddyEpi


[SelectDwiFiles]

[StructMask]

[Freesurfer]

[BseExtract]

[BseMask]

[PnlEddy]

[FslEddyEpi]

[TopupEddy]

[EddyEpi]

[Fs2Dwi]

[Ukf]

[Wmql]

[Wmqlqc]


